      <!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
    <!-- Create the tabs -->
   
    <!-- Tab panes -->
    <div class="tab-content">
        <!-- Home tab content -->
        <div class="tab-pane" id="control-sidebar-home-tab">
           
            <!-- /.control-sidebar-menu -->
        
            <!-- /.control-sidebar-menu -->
        </div>
        <!-- /.tab-pane -->
        <!-- Stats tab content -->
       
        <!-- /.tab-pane -->
        <!-- Settings tab content -->
       
        <!-- /.tab-pane -->
    </div>
</aside>
<!-- /.control-sidebar -->
