@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Ошибка";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Страница ошибки
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-fw fa-home"></i>
                @Html.ActionLink("Домашняя", "Index", "Home")
            </li>
            <li class="active">@ViewBag.Title</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="error-page">
            <h2 class="headline text-yellow">:(</h2>
            <div class="error-content">
                <h3><i class="fa fa-warning text-yellow"></i> Страница ненайдена </h3>
                <p>
                    Мы ненашли запрашиваюмаю страницу
                    Вы можете перейти @Html.ActionLink("Домашняя", "Index", "Home")
                </p>
                
            </div>
            <!-- /.error-content -->
        </div>
        <!-- /.error-page -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->